n8n/workflows/main-pipeline.json
{
  "name": "Kaizen — Main Video Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-job",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: New Job",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "operation": "equals",
              "value2": "done"
            }
          ]
        }
      },
      "id": "check-status",
      "name": "Check: Video Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{$env.NEXT_PUBLIC_APP_URL}}/api/jobs/={{$json.jobId}}",
        "authentication": "none",
        "options": {}
      },
      "id": "get-job",
      "name": "Get Job Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_OWNER_CHAT_ID}}",
        "text": "✅ วิดีโอพร้อมแล้ว!\n\n🍱 {{$json.menu_name}}\n🎬 [ดูวิดีโอ]({{$json.video_url}})",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-notify",
      "name": "Telegram: Notify Owner",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [460, 420]
    }
  ],
  "connections": {
    "Webhook: New Job": {
      "main": [[{ "node": "Check: Video Done?", "type": "main", "index": 0 }]]
    },
    "Check: Video Done?": {
      "main": [
        [{ "node": "Get Job Details", "type": "main", "index": 0 }],
        [{ "node": "Wait 30s", "type": "main", "index": 0 }]
      ]
    },
    "Get Job Details": {
      "main": [[{ "node": "Telegram: Notify Owner", "type": "main", "index": 0 }]]
    },
    "Wait 30s": {
      "main": [[{ "node": "Check: Video Done?", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
